* {
  outline: 1px solid pink;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 100px;
  height: 100px;
}

.card__close {
  color:red;
  background-color: blueviolet;
}

