* {
  /* outline: 1px solid pink; */
}

.hero {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 420px;
  min-height: 420px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100px;
  height: 100px;
}

.card__close {
  background-color: blueviolet;
  color:blueviolet;
  /* color:red; */
}

#restart {
  margin-top: 10px;
}
